body{
    background-color: grey;
    background-image: url("./images/pattern.png");
    background-size: 100px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
}

.bookcover{

    background-color:lightblue;
    border-radius: 8px;
    border: 1px solid black;

    width: 960px;
    height: 660px;

    margin: 100px auto; 
    /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */

    position: relative;
}

.bookdot{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;

    border-radius: 5px;
    border: ivory dashed 2px;
    padding: 15px;
}

.page{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: ivory;
    border-radius: 10px;

    display: flex;
    padding: 15px;
}

.profile-container{
    flex: 0.4;
    margin-right: 1.5rem;

    display: flex;
    flex-direction: column;
}

.content-container{
    flex: 1;

    display: flex;
    flex-direction: column;
}

.header{
    flex: 0.1;
}

.box{
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid gray;
}

.content-title {
    display: flex;
    align-items: center;
}

.content-title-name{
    flex: 1;
    font-family: 'NeoDunggeunmo';
    font-size: 0.8rem;
}

.content-title-url{
    flex: 1;
    font-size: 0.5rem;
    text-align: right;
}

.profile-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}

.color-red{
    color: red;
}

.profile-box {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.profile-image {
    flex: none;
}

.profile-image-img {
    width: 100%;
    height: 100%;
}

.profile-text {
    margin-top: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.7;
    flex: 1;
}

.profile-username {
    flex: 0;
}

.content-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*메뉴 버튼*/
.menu-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.menu-container > a {
    padding: 6px;
    margin: 6px 0;
    background-color: slateblue;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid gray;
    color: white;
    text-decoration: 0; /*a태그의 밑줄 없앰.*/
    font-family: "NeoDunggeunmo";
    font-size: 0.85rem;
}

.menu-container >a:hover {
    background-color: skyblue
}

/*파도타기 기능*/
.profile-dropdown {
    flex: 0;
    border: 1px solid grey;
    padding: 5px;
    margin-top: 10px;
    font-size: 0.8rem;
    position: relative;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid black;
}

.profile-dropdown:hover > .dropdown-content {
    display: block;
}

.dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dropdown-content > a{
    display: block;
    background-color: beige;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
}

.dropdown-content > a:hover {
    background-color: yellowgreen;
}